body {
  display: grid;
  gap: 10px;
}

h1 {
  margin: 0;
}

body>* {
  box-sizing: border-box;
  border: 1px solid lightgrey;
}

header {
  grid-area: header;
}

h1 {
  grid-area: title;
}

aside {
  grid-area: navbar;
}

.right-sidebar {
  grid-area: advent;
  display: none;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

@media (orientation: landscape) {
  body {
    grid-template-columns: 2fr 3fr 1fr;
    grid-template-areas: 
    "header header" 
    "navbar title" 
    "navbar main" 
    "footer footer";
  }
}

@media (min-width: 1200px) {
  body {
    grid-template-columns: 2fr 3fr 1fr;
    grid-template-areas: 
    "header header header" 
    "navbar title advent" 
    "navbar main advent" 
    "footer footer footer";
  
  }.right-sidebar {
    display: block;
  }

}

