* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  display: grid;
  gap: 10px;
  grid-template-areas: 
    "header" 
    "title" 
    "navbar"
    "main"
    "gallery"
    "footer";
}

h1 {
  margin: 0;
}

body>* {
  box-sizing: border-box;
  border: 1px solid lightgrey;
}

header {
  grid-area: header;
  justify-self: center;
}

h1 {
  grid-area: title;
  justify-self: center;
  align-self: center;
}

aside {
  grid-area: navbar;
}

.right-sidebar {
  grid-area: trips;
  display: none;
}

main {
  grid-area: main;
}

.member, .links, .trip {
  cursor: pointer;
}

.gallery {
  width: 1200px;
  grid-area: gallery;
  display: flex;
  
}

.imgWrap>img {
  border: 2px solid white;
  width: 100%;
  height: auto;
}

footer {
  grid-area: footer;
  align-items:end;
  justify-self: center;
  align-self: center;
} 

@media (orientation: landscape) {
  body {
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
    "header header" 
    "navbar title" 
    "navbar main"
    "gallery gallery" 
    "footer footer";
  }
}

@media (min-width: 1200px) {
  body {
    width: 1200px;
    margin: auto;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 
    "header header header" 
    "navbar title trips" 
    "navbar main trips" 
    "gallery gallery gallery"
    "footer footer footer";

  }.right-sidebar {
    display: block;
  }
}